<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<!-- Configure the access of RegisterServlet -->
	<servlet>
		<!-- Set Servlet name -->
		<servlet-name>register</servlet-name>
		<!-- Set the Servlet class that processing requests: complete package path 
			+ class name -->
		<servlet-class>com.pinp.web.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- The Servlet name should keep consistent as above-mentioned -->
		<servlet-name>register</servlet-name>
		<!-- The access path of Servlet -->
		<url-pattern>/register</url-pattern>
	</servlet-mapping>




	<!-- Configure the access of LoginServlet -->
	<servlet>
		<!-- Set Servlet name -->
		<servlet-name>login</servlet-name>
		<!-- Set the Servlet class that processing requests: complete package path 
			+ class name -->
		<servlet-class>com.pinp.web.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- The Servlet name should keep consistent as above-mentioned -->
		<servlet-name>login</servlet-name>
		<!-- The access path of Servlet -->
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
<!-- Configure the access of toOperator -->
	<servlet>
		<!-- Set Servlet name -->
		<servlet-name>toOperator</servlet-name>
		<!-- Set the Servlet class that processing requests: complete package path 
			+ class name -->
		<servlet-class>com.pinp.web.ToOperatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- The Servlet name should keep consistent as above-mentioned -->
		<servlet-name>toOperator</servlet-name>
		<!-- The access path of Servlet -->
		<url-pattern>/toOperator</url-pattern>
	</servlet-mapping>



	<!--Welcome Page-->
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>